<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport"
            content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="../../css/mui.min.css" rel="stylesheet" />
        <style type="text/css">
            *{
                touch-action: none;
            }
        </style>
    </head>

    <body>
        <div class="mui-content">
            <div style="padding: 10px;">
                <div class="mui-input-row mui-search">
                    <input id="search" type="search" class="mui-input-clear" placeholder="请输入新闻关键字">
                </div>

                <div id="slider" class="mui-slider">
                    <div id="slider_group" class="mui-slider-group mui-slider-loop">

                    </div>
                    <div class="mui-slider-indicator">
                        <div class="mui-indicator mui-active"></div>
                        <div class="mui-indicator"></div>
                        <div class="mui-indicator"></div>
                    </div>
                </div>

                <div id="service_list" style="margin-top: 10px; display: flex; flex-wrap: wrap;">

                </div>

                <div
                    class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div id="category_list" class="mui-scroll">
                        
                    </div>
                </div>

                <ul id="news_list" class="mui-table-view" style="margin-top: 10px;">

                </ul>
            </div>
        </div>

        <script src="../../js/mui.min.js"></script>
        <script type="text/javascript">
            mui.init();
            var baseUrl = 'http://124.93.196.45:10001';

            function getNetWork() {
                //轮播图请求
                mui.get(baseUrl + '/prod-api/api/rotation/list', {}, function(data) {
                    let slider_group = document.getElementById('slider_group');
                    data.rows.unshift(data.rows[2]);
                    data.rows.push(data.rows[0]);
                    data.rows.forEach(item => {
                        slider_group.innerHTML += `
                            <div class="mui-slider-item">
                                <a href="#">
                                    <img src="${baseUrl + item.advImg}" style="width: 100%; height: 200px; border-radius: 5px;" onclick="getSilderDeatils(${item.id})">
                                </a>
                            </div>
                        `
                    });
                    mui('#slider').slider({
                        interval: 3000 //自动轮播周期，若为0则不自动播放，默认为0；
                    });
                });

                //主页服务项
                mui.get(baseUrl + '/prod-api/api/service/list', {
                    pageNum: 1,
                    pageSize: 9
                }, function(data) {
                    let service_list = document.getElementById('service_list');
                    data.rows.map(item => {
                        item.imgUrl = baseUrl + item.imgUrl
                        return item;
                    })
                    data.rows.push({
                        imgUrl: '../../images/gengduo.png',
                        serviceName: '查看更多'
                    })
                    data.rows.forEach(item => {
                        service_list.innerHTML += `
                            <div style="width: 20%; text-align: center; margin-top: 15px;">
                                <img src="${item.imgUrl}" style="width: 50px; height: 50px;" />
                                <div style="font-size: 14px;">${item.serviceName.substr(0,4)}</div>
                            </div>
                        `
                    })
                });

                //新闻分类
                mui.get(baseUrl + '/prod-api/press/category/list', {}, function(data) {
                    let category_list = document.getElementById('category_list');
                    data.data.forEach((item, index) => {
                        category_list.innerHTML += `
                            <a class="mui-control-item ${index == 0 ? 'mui-active' : ''}" onclick="getCategory(${item.id})">
                                ${item.name}
                            </a>
                        `
                    });
                });

                //新闻列表请求
                mui.get(baseUrl + '/prod-api/press/press/list', {
                    type: 9
                }, function(data) {
                    let news_list = document.getElementById('news_list');
                    data.rows.map(item => {
                        item.content = item.content.replace(/<[^<>]+>/g, '')
                        return item;
                    });
                    data.rows.forEach(item => {
                        news_list.innerHTML += `
                            <li class="mui-table-view-cell mui-media" onclick="getSilderDeatils(${item.id})">
                                <a href="javascript:;">
                                    <img class="mui-media-object mui-pull-left" src="${baseUrl + item.cover}" style="min-width: 100px; height: 100px; border-radius: 5px;" />
                                    <div class="mui-media-body">
                                        <h4 class="mui-ellipsis">${item.title}</h4>
                                        <p class="mui-ellipsis-2" style="margin-top: 10px;">${item.content}</p>
                                        <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                                            <h5>${item.publishDate}</h5>
                                            <h5>阅读人数：${item.readNum}</h5>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        `
                    });
                });
            }
            getNetWork();
            
            let search = document.getElementById('search');
            search.addEventListener('keyup', function(e) {
                if (e.key == 'Enter') {
                    localStorage.setItem('news_title', search.value);
                    mui.openWindow('search.html')
                    search.value = ''
                }
            });

            function getSilderDeatils(id) {
                localStorage.setItem('news_id', id);
                mui.openWindow('details.html')
            }
            
            function getCategory(id){
                let news_list = document.getElementById('news_list');
                news_list.innerHTML = ''
                mui.get(baseUrl + '/prod-api/press/press/list', {
                    type: id
                }, function(data) {
                    data.rows.map(item => {
                        item.content = item.content.replace(/<[^<>]+>/g, '')
                        return item;
                    });
                    data.rows.forEach(item => {
                        news_list.innerHTML += `
                            <li class="mui-table-view-cell mui-media" onclick="getSilderDeatils(${item.id})">
                                <a href="javascript:;">
                                    <img class="mui-media-object mui-pull-left" src="${baseUrl + item.cover}" style="min-width: 100px; height: 100px; border-radius: 5px;" />
                                    <div class="mui-media-body">
                                        <h4 class="mui-ellipsis">${item.title}</h4>
                                        <p class="mui-ellipsis-2" style="margin-top: 10px;">${item.content}</p>
                                        <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                                            <h5>${item.publishDate}</h5>
                                            <h5>阅读人数：${item.readNum}</h5>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        `
                    });
                });
            }
        </script>
    </body>

</html>
