<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport"
            content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="../../css/mui.min.css" rel="stylesheet" />
        <link href="../../css/icons-extra.css" rel="stylesheet" />
        <style type="text/css">
            #empty{
                display: none;
            }
        </style>
    </head>

    <body>
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">新闻搜索</h1>
        </header>
        <div class="mui-content">
            <div style="padding: 10px;">
                <ul id="news_list" class="mui-table-view" style="margin-top: 10px;">
                
                </ul>
                <div id="empty" style="text-align: center;">
                    <span class="mui-icon-extra mui-icon-extra-topic" style="font-size: 50px;"></span>
                    <div style="margin-top: 10px;">没有搜索到相关新闻</div>
                </div>
            </div>
        </div>

        <script src="../../js/mui.min.js"></script>
        <script type="text/javascript">
            mui.init()
            var baseUrl = 'http://124.93.196.45:10001';
            var news_title = localStorage.getItem('news_title');
            function getNetWork(){
                //新闻列表请求
                mui.get(baseUrl + '/prod-api/press/press/list', {
                    title: news_title
                }, function(data) {
                    let news_list = document.getElementById('news_list');
                    data.rows.map(item => {
                        item.content = item.content.replace(/<[^<>]+>/g, '')
                        return item;
                    });
                    data.rows.forEach(item => {
                        news_list.innerHTML += `
                            <li class="mui-table-view-cell mui-media" onclick="getSilderDeatils(${item.id})">
                                <a href="javascript:;">
                                    <img class="mui-media-object mui-pull-left" src="${baseUrl + item.cover}" style="min-width: 100px; height: 100px; border-radius: 5px;" />
                                    <div class="mui-media-body">
                                        <h4 class="mui-ellipsis">${item.title}</h4>
                                        <p class="mui-ellipsis-2" style="margin-top: 10px;">${item.content}</p>
                                        <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                                            <h5>${item.publishDate}</h5>
                                            <h5>阅读人数：${item.readNum}</h5>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        `
                    });
                    //判断数据是否为空
                    data.rows.length == 0 ? empty.style.display = 'block' : empty.style.display = 'none'
                });
            }
            getNetWork();
            
            function getSilderDeatils(id){
                localStorage.setItem('news_id', id);
                mui.openWindow('details.html')
            }
        </script>
    </body>

</html>
